@import url("https://fonts.googleapis.com/css2?family=Itim&family=Sen:wght@400..800&display=swap");

:root {
  --card-color: #96b7e3;
  --inner-card-color: #b1cef5;
  --margin: 2rem 4rem;
  --scrollbar-color: #8baad1 #9fc2f0;
  --background-color: #a2caef;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.sen {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #c0e8ff;
}

::-webkit-scrollbar-thumb {
  background: #6d9ddd;
}

::-webkit-scrollbar-thumb:hover {
  background: #5690db;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin);
}

.logo {
  font-size: 2rem;
  background-color: white;
  color: #5d78bd;
  padding: 0.3rem 1rem;
  border-radius: 10px;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 75vw;
}

.search input {
  border: none;
  outline: none;
  padding: 0.9rem;
  flex: 1;
  font-size: 1rem;
}

.search button {
  background: #5d78bd;
  color: white;
  border: none;
  padding: 0.9rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.search button:hover {
  background: #3c5fb6;
}

.search input:focus {
  outline: 2px solid var(--card-color);
}

.card {
  background-color: var(--card-color);
  margin: var(--margin);
  padding: 3rem 2rem;
  border-radius: 10px;
  color: white;
}

.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

.location-info {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.location {
  font-weight: 600;
}

.temperature {
  font-size: 3rem;
}

.weather-icon {
  width: 10vw;
}

.hourly-info {
  display: flex;
  overflow-y: auto;
  margin-top: 2rem;
  gap: 4rem;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
}

.title-text {
  font-size: 1.8rem;
}

.hourly-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.chance-of-rain-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.raindrop-icon {
  max-width: 1.5vw;
}

.weather-info {
  display: flex;
  gap: 10rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
}

.weather-info-card {
  background-color: var(--inner-card-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  min-width: 10vw;
  margin: auto;
}

.weather-info-title {
  font-size: 1.8rem;
}

.astro-card {
  display: flex;
  justify-content: space-between;
}

.sunset,
.sunrise {
  display: flex;
  width: 35%;
  font-size: 1.8rem;
  gap: 4rem;
}

.astro-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.astro-img-container {
  margin: auto;
}

.astro-icon {
  max-width: 5vw;
}

.astro-time {
  font-size: 1.3rem;
}

.weekly-forecast {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.3rem;
}

.week {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--inner-card-color);
  border-radius: 10px;
  padding: 1rem;
}

.week span {
  width: 100%;
}

.min-max-temp {
  display: flex;
  justify-content: end;
  font-weight: 600;
  font-size: 1.5rem;
}

.day {
  font-weight: 600;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .search {
    width: 65vw;
  }

  .weather-info {
    gap: 8rem;
  }

  .weather-info-card {
    min-width: 15vw;
  }

  .weather-icon {
    width: 15vw;
  }
}

@media only screen and (max-width: 768px) {
  .search {
    width: 58vw;
  }

  .location-info {
    font-size: 1.5rem;
  }

  .weather-info-card {
    min-width: 20vw;
  }

  .temperature {
    font-size: 2.5rem;
  }

  .weather-icon {
    width: 15vw;
  }

  .weekly-forecast {
    font-size: 1rem;
  }

  .day {
    font-size: 1.2rem;
  }

  .min-max-temp {
    font-size: 1.2rem;
  }

  .weekly-weather-icon {
    max-width: 5vw;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 1.6rem;
    padding: 0.3rem 0.5rem;
  }

  .header {
    margin: 1rem;
    gap: 3rem;
  }

  .card {
    margin: 1rem;
  }

  .search {
    width: 100%;
  }

  .search input {
    padding: 0.6rem;
    font-size: 1rem;
  }

  .search button {
    padding: 0.6rem;
    font-size: 1rem;
  }

  .location-info {
    font-size: 1.5rem;
  }

  .weather-icon {
    width: 22vw;
  }

  .temperature {
    font-size: 2rem;
  }

  .raindrop-icon {
    max-width: 1rem;
  }

  .weather-info {
    gap: 4rem;
  }

  .title-text {
    font-size: 1.8rem;
  }

  .weather-info-card {
    min-width: 25vw;
  }

  .astro-card {
    flex-direction: column;
  }

  .sunrise,
  .sunset {
    width: 84vw;
    flex-direction: column;
  }

  .astro-icon {
    max-width: 25vw;
  }

  .day {
    font-size: 1.3rem;
  }

  .chance-of-rain-text {
    font-size: 1rem;
  }

  .weekly-weather-icon {
    max-width: 14vw;
  }

  .weekly-condition-text {
    font-size: 1rem;
  }

  .min-max-temp {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
  }

  .header {
    margin: 1rem;
    gap: 1rem;
  }

  .card {
    margin: 1rem;
  }

  .search {
    width: 100%;
  }

  .search input {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .search button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .location-info {
    font-size: 1.2rem;
  }

  .weather-icon {
    width: 24vw;
  }

  .temperature {
    font-size: 1.8rem;
  }

  .raindrop-icon {
    max-width: 1rem;
  }

  .weather-info {
    gap: 2rem;
  }

  .title-text {
    font-size: 1.5rem;
  }

  .weather-info-card {
    min-width: 40vw;
  }

  .astro-card {
    flex-direction: column;
  }

  .sunrise,
  .sunset {
    width: 75vw;
    flex-direction: column;
  }

  .astro-icon {
    max-width: 22vw;
  }

  .day {
    font-size: 1rem;
  }

  .chance-of-rain-text {
    font-size: 0.8rem;
  }

  .weekly-weather-icon {
    max-width: 10vw;
  }

  .weekly-condition-text {
    font-size: 0.6rem;
  }

  .min-max-temp {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .logo {
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
  }

  .header {
    margin: 1rem;
    gap: 1rem;
  }

  .card {
    margin: 1rem;
  }

  .search {
    width: 100%;
  }

  .search input {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .search button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .location-info {
    font-size: 1.2rem;
  }

  .weather-icon {
    width: 24vw;
  }

  .temperature {
    font-size: 1.8rem;
  }

  .raindrop-icon {
    max-width: 1rem;
  }

  .weather-info {
    gap: 2rem;
  }

  .title-text {
    font-size: 1.5rem;
  }

  .weather-info-card {
    min-width: 40vw;
  }

  .astro-card {
    flex-direction: column;
  }

  .sunrise,
  .sunset {
    width: 75vw;
    flex-direction: column;
  }

  .astro-icon {
    max-width: 22vw;
  }

  .day {
    font-size: 1rem;
  }

  .week {
    flex-direction: column;
  }

  .chance-of-rain-text {
    font-size: 0.8rem;
  }

  .weekly-weather-icon {
    max-width: 15vw;
  }

  .weekly-condition-text {
    font-size: 0.8rem;
  }

  .min-max-temp {
    font-size: 1rem;
    justify-content: start;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
  }

  .header {
    margin: 1rem;
    gap: 1rem;
  }

  .card {
    margin: 1rem;
  }

  .search {
    width: 100%;
  }

  .search input {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .search button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .location-info {
    font-size: 1rem;
  }

  .weather-icon {
    width: 28vw;
  }

  .temperature {
    font-size: 1.5rem;
  }

  .raindrop-icon {
    max-width: 1rem;
  }

  .weather-info {
    gap: 2rem;
  }

  .title-text {
    font-size: 1.5rem;
  }

  .weather-info-card {
    min-width: 40vw;
  }

  .astro-card {
    flex-direction: column;
  }

  .sunrise,
  .sunset {
    width: 70vw;
    flex-direction: column;
  }

  .astro-icon {
    max-width: 20vw;
  }

  .day {
    font-size: 1.3rem;
  }

  .week {
    flex-direction: column;
  }

  .min-max-temp {
    justify-content: start;
  }

  .weekly-condition-text {
    font-size: 0.8rem;
  }

  .min-max-temp {
    font-size: 1rem;
  }
}
